<!DOCTYPE html>
<html lang="en">

	<head>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-27445567-2', 'auto');
  ga('send', 'pageview');

</script>

	
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<meta name=”description” content=”ScienceX.io Identify Vendors' Excellence”>

		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css" />
		<!-- <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap-theme.min.css" /> -->
		<!-- <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/flat-ui.css" /> -->
		{% block css %}{% endblock %}
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css" />

		<title>ScienceX.io: Identify Vendors' Excellence</title>
		
		<script type="text/javascript">
			var id = '{{ id }}';
		</script>

		<script type="text/javascript" src="{{STATIC_URL}}js/jquery-2.0.3.min.js"> </script>
		<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"> </script>
		<!-- <script type="text/javascript" src="{{STATIC_URL}}js/holder.js"> </script> -->
		<script type="text/javascript" src="{{STATIC_URL}}js/dicom_core.js"> </script>
		{% block js %}{% endblock %}
	
	</head>

	<body>
		<nav class="navbar navbar-default" role="navigation">

				<form class="navbar-form navbar-left" role="search" method="POST" action="/main/search">
					{% csrf_token %}
					<a class="navbar-brand" href="/"><strong> <font size=5> ScienceX.io</font></strong></a>
					
					<div class="form-group" style="width: 300px;">
						 <input type="text" class="form-control" name="dcm_query" id="dcm_query" placeholder="e.g., product, experiment, vendor, user" value="{{ query }}">
					</div>

					<button type="submit" class="btn btn-primary" id="dcm_search"><span class="glyphicon glyphicon-search"></span> Search</button> 

				</form>


		</nav>
		
		<div id="content" class="container">
			
			{% block content %}{% endblock %}
			
		</div>
	
	</body>

</html>
