

{% block js %}
<script type="text/javascript" src="{{STATIC_URL}}js/index.js"></script>
{% endblock %}

{% block content %}

	<div class="jumbotron">
		<h2 font-size=50 >ScienceX.io: Vendors you can trust</h2>
		<br>   We help you easily identify reliable product/service vendors by leveraging big data in publications, webs and social networks.
		We are launching soon. 
		if you are interested in this venture, please contact: <a href="mailto:info@sciencex.io?Subject=sciencex.io feedback">info@sciencex.io </a>		

	</div>

{% endblock %}